$font-default: "League Spartan", sans-serif;






// Color



:root {
    --primary-color: #9ed1d2;
    --secondary-color: #2e334e;
   
    --text-color-700: #2b3049;
    --text-color-100:#656565;

    --white-color: #ffff;
    --grey-color-500: #e4e4e4;
    --grey-color-100: #edeff1;
    --dark: #4E4E4E;
}